@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
     font-family: "Roboto", Helvetica, Arial, sans-serif;
     font-weight: 100;
     font-size: 15px;
     line-height: 30px;
     color: #000000;
     background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

a{text-decoration:none; color:#ffff;}

.roombtn{
     font-family: "Roboto", Helvetica, Arial, sans-serif;
     font-size: 18px;
     padding: 20px;
     width: 100%;
}

.fa{
     float: right;
     margin-left: 5px;
}

.btn {
     margin-top: 8px;
     background-color: DodgerBlue;
     border: none;
     color: white;
     padding: 10px 15px;
     font-size: 16px;
     cursor: pointer;
     border-radius: 8px;
}

.btn:hover {
     background-color: RoyalBlue;
}
